{% extends "dbcheck/base.html" %}

{% load staticfiles %}

{% block content %}

      <main role="main" class="container">

        <div class="starter-template">
          <div>
              <h4>结果</h4>
              <table class="table table-bordered" name="table_result">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">被阻塞的会话ID</th>
                    <th scope="col">被阻塞的会话的SQL语句</th>
                    <th scope="col">导致阻塞的会话ID</th>
                    <th scope="col">导致阻塞的会话的SQL语句</th>
                    <th scope="col">杀死阻塞进程</th>
                  </tr>
                </thead>
                <tbody>
                  {% for foo in t3 %}
                      <tr>
                        <th scope="row">{{ forloop.counter}}</th>
                        <td>{{ foo.0.0 }}</td>
                        <td>{{ foo.0.1 }}</td>
                        <td>{{ foo.1.0 }}</td>
                        <td>{{ foo.1.1 }}</td>
                        
                        <td>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter{{ foo.1.0 }}">
                            关闭{{ foo.1.0 }}进程
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter{{ foo.1.0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalCenterTitle">关闭确认</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  确定要关闭{{ foo.1.0 }}进程吗？
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                  <form method="POST" action="{% url 'dbcheck:杀死进程' foo.1.0 %}">
                                    {% csrf_token %}
                                    <input class="btn btn-danger" type="submit" value="确定">
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>




                        </td>






                      </tr>
                  {% endfor %}            
                </tbody>
              </table>
          </div>

          <div>
              <textarea rows="10" cols="200">
                 {{ t1 }}

                 {{ t2 }}

                 {{ t3 }}
              </textarea>
          </div>
        </div>
      </main> 
{% endblock content %}
