{% extends "dbcheck/base.html" %}

{% load staticfiles %}

{% block content %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">数据库列表</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>

          <div class="container">

              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img src="{% static "img/sqlserver.jpg" %}" height="225">
                    <div class="card-body">
                      <p class="card-text">测试数据库：10.138.162.9</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{% url 'dbcheck:检查页面' %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          </a>
                          
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">SQL SERVER 2008</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">测试数据库：172.21.146.245</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{% url 'dbcheck:146245检查页面' %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          </a>
                          
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>



          </div>
        </div>

      </main>
{% endblock content %}
